.app-footer {
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media(max-width: 720px) {
  .app-footer {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}