.note-list ul {
    columns: 4 160px;
    gap: 10px;

    padding: 10px;
    list-style-type: none;
}
.note-list ul li{
    break-inside: avoid;
  margin-top: 5px;
    padding: 5px;
    background-color: lightblue;
    border: 2px solid black;
}

.icon{
    cursor: pointer;  
}
/* .color{
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    
} */

input[type="color"] {
    display: none;
}

