.note-list ul {
    columns: 7 150px;
    gap: 10px;

    padding: 10px;
    list-style-type: none;
}
.note-list ul li{
    break-inside: avoid;
  margin-top: 5px;
    padding: 5px;
    background-color: lightblue;
    border: 2px solid black;
}

.icon{
    cursor: pointer;  
}

input[type="color"] {
    display: none;
}

