body {
    background-color: var(--secondary-clr1)
}

.email-box {
    text-align: center;
}

.email-box table {
    background-color: rgb(241, 170, 170);
    border-radius: 10px;
    margin-bottom: 10px;
}

.email-box tbody {
    background-color: lightpink;
}

.email-box td {
    padding: 10px;
}

.email-box .toolbar {
    border-radius: 10px;
    flex-direction: column;
    margin-inline-start: 10px;
}

.email-box .toolbar li {
    margin-block-start: 1em;
    list-style: none;
}

.toolbar button {
    background: none;
    color: var(--secondary-clr4);
    border: none;
}