.new-mail-box {
    position: absolute;
    top: 15%;
    right: 50%;
    translate: 50%;
    border-radius: 5px;
    margin-top: 20px;
    background-color: var(--clr7);
}

.new-mail-box label,
.new-mail-box thead {
    font-size: large;
}

.new-mail-box textarea {
    margin-top: 10px;
    border: none;
}

.new-mail-box .sendMsg,
.new-mail-box .fa-xmark {
    cursor: pointer;
}