:root {
  --clr1: rgb(255, 255, 255);
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: rgb(72, 69, 69);
  --clr5: rgb(241, 170, 170);

  --secondary-clr1: rgb(243, 198, 198);
  --secondary-clr2: rgb(122, 7, 70);

}