:root {
  --clr2: rgb(0, 0, 0);
  --clr3: rgb(174, 172, 172);
  --clr4: rgb(77, 74, 74);
  --clr5: rgb(237, 242, 249);
  --clr6: rgb(246, 247, 249);
  --clr7: rgb(255, 255, 255);
  --clr8: rgb(240, 244, 249);
}